#screen {
  background-color: rgb(230, 201, 201);
  width: 100px;
  margin-left: 34.3%;
  border-radius: 8px;
  position: absolute;
  margin-top: -85px;
  padding: 20px;
  padding-left: 300px;
  font-family: "Share Tech Mono", monospace;
  font-size: 35px;
  color: #800020;
}

#calculator {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-left: 34%;
  margin-top: 175px;
}

#calculatorOne {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

#calculatorOne > div {
  background-color: #800020;
  width: 50px;
  margin: 10px;
  text-align: center;
  color: rgb(230, 201, 201);
  font-family: "Share Tech Mono", monospace;
  font-size: 25px;
  padding: 20px;
  border-radius: 8px;
}

#calculatorTwo {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

#calculatorTwo > div {
  background-color: #800020;
  width: 50px;
  margin: 10px;
  text-align: center;
  color: rgb(230, 201, 201);
  font-family: "Share Tech Mono", monospace;
  font-size: 25px;
  padding: 20px;
  border-radius: 8px;
}

#calculatorThree {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

#calculatorThree > div {
  background-color: #800020;
  width: 50px;
  margin: 10px;
  text-align: center;
  color: rgb(230, 201, 201);
  font-family: "Share Tech Mono", monospace;
  font-size: 25px;
  padding: 20px;
  border-radius: 8px;
}

#calculatorFour > div {
  background-color: #800020;
  width: 50px;
  margin: 10px;
  text-align: center;
  color: rgb(230, 201, 201);
  font-family: "Share Tech Mono", monospace;
  font-size: 25px;
  padding: 20px;
  border-radius: 8px;
}

#calculatorFour {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

#zero {
  background-color: #800020;
  width: 50px;
  margin-top: -79px;
  margin-left: 10px;
  text-align: center;
  color: rgb(230, 201, 201);
  font-family: "Share Tech Mono", monospace;
  font-size: 25px;
  padding: 20px;
  padding-right: 130px;
  margin-left: 34.7%;
  border-radius: 8px;
}

#calculatorOne > div:hover {
  background-color: rgb(230, 201, 201);
  color: #800020;
  cursor: pointer;
}

#calculatorTwo > div:hover {
  background-color: rgb(230, 201, 201);
  color: #800020;
  cursor: pointer;
}

#calculatorThree > div:hover {
  background-color: rgb(230, 201, 201);
  color: #800020;
  cursor: pointer;
}

#calculatorFour > div:hover {
  background-color: rgb(230, 201, 201);
  color: #800020;
  cursor: pointer;
}

#zero:hover {
  background-color: rgb(230, 201, 201);
  color: #800020;
  cursor: pointer;
}
